* {
  scroll-behavior: smooth;
}
/* table{

    border:1px solid black;
    border-collapse: collapse;
}
td{
    border:1px solid black;
    
}

.redTExt{

color: red;
/* } */

/* .calc{
width:8%;
position: relative;
margin-left:40%;
border:2px solid black;

}
p{
    border:2px solid black;  
    width:8%;
    margin-left:40%;
    margin-top: 20%;
    height: 25px;
    /* display:block; */
/* margin-bottom: 2px; */
/* } */

/* button{
    font-weight: bold;
} */

/* .alert {
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
  } */

/* .hh{
      color:red
  }
  .mm{
    color:blue
}
.ss{
    color:orange
} */
/* p{
    position:relative;
    top:70%;
    left:37% */
/* align-self: center; */

/* } */ /*

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

section{
    width:100%;
    height:500px;
    display: flex;
    justify-content: end;
    align-items:start ;
    
   
}
.clock{
    background-color: rgba(136, 130, 130, 0.5);
    height:50%;
    width:30%;
    max-width:250px;
    position:relative;
    border-radius:50%;
    background-image: url('clock.png');
    background-repeat:no-repeat
}

.hours,
.minutes,
.seconds{
    height:2px;
    background-color:black;
    width:40%;
    position:absolute;
    top:50%;
    left:10%;
    border-radius: 50%;
    transform-origin: right;
    transform:rotate(90deg)
} */

/* #example{
    width:100px;
    height:100px;
    overflow: scroll;
    border:10px solid black;
    padding:5px;

} */
/* body {
   
    
    height:2000px
  }
#ball{
    transition:1s all;
    top:0;
    left:0;
    position:absolute;
    
}

  #field {
    width: 200px;
    height: 150px;
    border: 10px solid black;
    background-color: #00FF00;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    
    
    
  } */

/* button{
      border:none;
      background:none;
      cursor:pointer
  }

  .menu #title::before{
      content:"▶ ";
      font-size:80%;
      color:green
  }

  .menu ul{
      display:none
  }

  .menu.open #title::before{
    content:"▼ "
  }
 .menu.open ul{
    display:block
 } */

/* .pane{
     display:block;
     width:50%;
     height:150px;
     margin-left:auto;
     margin-right:auto;
     background-color: antiquewhite;
     margin-top: 15px;
   
 }
 .remove-button{
     float:right;
     
     border:none;
     background:none;
     cursor:pointer;
    
 } */

/* carousellee */

/* ul{
     display:flex;
     flex-direction:row;
     justify-content:flex-start;
     width:35%;
     border:3px solid gray;
     overflow: scroll;
     margin-left:auto;
     margin-right:auto;
     padding: 0;
     position:relative;
     
     
   
 }
 li{
     
     align-self:center;
     list-style-type:none;
     padding: 10px 0;
     
     
 }
 li>img{
     display:block;
     
     
 } 
 .arrow{
    position:sticky;
    z-index:1;
    cursor:pointer;
    border-radius:100%;
    height:23px;
    background-color:rgba(240, 178, 9, 0.952);
    
    
    
 }


input[type="radio"]{
    position:relative;
    left:47%;
    cursor: pointer;
    
}

ul::-webkit-scrollbar { 
    width: 0;
    height: 0;
} */

/* div{
    display:inline;
} */

/* #tree{
    width:0;
    display:inline-block;
    
}

#tree first-child{
    cursor:pointer;
    font-weight:bold;
} */

/* table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid black;
    padding: 4px;
  }
  th {
    cursor: pointer;
  }
  th:hover {
    background: yellow;
  } */

/* body {
    height: 2000px;
    
  }

 
  .tooltip {
    
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    
  }; */

/* p{
      background-color: aqua;
      width:30%;
      height: 150px;
  }
  button{
      position: absolute;
      top:50px;
  } */

/* #contents {
    padding: 5px;
    border: 1px green solid;
  } */

/* li:hover{
    cursor: pointer;
 }
 .selected{
     background-color: green;
 } */

/* #table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
#table td {
    width: 150px;
    white-space: nowrap;
    text-align: center;
    vertical-align: bottom;
    padding-top: 5px;
    padding-bottom: 12px;
    cursor: pointer;
    border:1px solid black;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
} */

/* body {
      height: 2000px;
      
    }

    .tooltip {
      position: fixed;
      z-index: 100;

      padding: 10px 20px;

      border: 1px solid #b3c9ce;
      border-radius: 4px;
      text-align: center;
      font: italic 14px/1.3 sans-serif;
      color: #333;
      background: #fff;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    }

    #house {
      margin-top: 50px;
      width: 400px;
      border: 1px solid brown;
    }

    #roof {
      width: 0;
      height: 0;
      border-left: 200px solid transparent;
      border-right: 200px solid transparent;
      border-bottom: 20px solid brown;
      margin-top: -20px;
    }

    p {
      text-align: justify;
      margin: 10px 3px;
    } */

/* .slider {
        border-radius: 5px;
        background: #E0E0E0;
        background: linear-gradient(left top, #E0E0E0, #EEEEEE);
        width: 310px;
        height: 15px;
        position:relative;
        margin-top:150px;
        margin-left:450px;
    }

    .thumb {
        width: 10px;
        height: 25px;
        border-radius: 3px;
        position: relative;
        left: 10px;
        top: -5px;
        background: blue;
        cursor: pointer;
    }
    body {
      height: 2000px;
      
    } */

/* #field {
  background-image: url(https://js.cx/drag-heroes/field.png);
  background-repeat: no-repeat;
  width: 80%;
  height: 500px;
  position: relative;
}

#hero1 {
  background-image: url(https://merriam-webster.com/assets/mw/images/gallery/gal-wap-slideshow-slide/driblet-words-for-small-things-water-drop-6273-31c2e672b2cade51ac69d54e7013fc71@1x.jpg);
  width: 100px;
  height: 100px;
}
#hero2 {
  background-image: url(https://cdn.pixabay.com/photo/2017/02/07/16/47/kingfisher-2046453__480.jpg);
  width: 100px;
  height: 100px;
}
#hero3 {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpMHRgGhGu9aTtu0Te1mcG91JjK6v24lHbbw&usqp=CAU);
  width: 100px;
  height: 100px;
}
body {
  height: 1000px;
}
.droppable {
  margin-top: 274px;
  transform: rotate(-90deg);
}
.right {
  margin-top: 274px;
  transform: rotate(90deg);
  margin-left: 641px;
} */
