/* * {
  scroll-behavior: smooth;
} */

/*
em - от текущего шоифта
% - от родительской ширины
rem - от стиля html
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/

/* table{

    border:1px solid black;
    border-collapse: collapse;
}
td{
    border:1px solid black;
    
}

.redTExt{

color: red;
/* } */

/* .calc{
width:8%;
position: relative;
margin-left:40%;
border:2px solid black;

}
p{
    border:2px solid black;  
    width:8%;
    margin-left:40%;
    margin-top: 20%;
    height: 25px;
    /* display:block; */
/* margin-bottom: 2px; */
/* } */

/* button{
    font-weight: bold;
} */

/* .alert {
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
  } */

/* .hh{
      color:red
  }
  .mm{
    color:blue
}
.ss{
    color:orange
} */
/* p{
    position:relative;
    top:70%;
    left:37% */
/* align-self: center; */

/* } */ /*

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

section{
    width:100%;
    height:500px;
    display: flex;
    justify-content: end;
    align-items:start ;
    
   
}
.clock{
    background-color: rgba(136, 130, 130, 0.5);
    height:50%;
    width:30%;
    max-width:250px;
    position:relative;
    border-radius:50%;
    background-image: url('clock.png');
    background-repeat:no-repeat
}

.hours,
.minutes,
.seconds{
    height:2px;
    background-color:black;
    width:40%;
    position:absolute;
    top:50%;
    left:10%;
    border-radius: 50%;
    transform-origin: right;
    transform:rotate(90deg)
} */

/* #example{
    width:100px;
    height:100px;
    overflow: scroll;
    border:10px solid black;
    padding:5px;

} */
/* body {
   
    
    height:2000px
  }
#ball{
    transition:1s all;
    top:0;
    left:0;
    position:absolute;
    
}

  #field {
    width: 200px;
    height: 150px;
    border: 10px solid black;
    background-color: #00FF00;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    
    
    
  } */

/* button{
      border:none;
      background:none;
      cursor:pointer
  }

  .menu #title::before{
      content:"▶ ";
      font-size:80%;
      color:green
  }

  .menu ul{
      display:none
  }

  .menu.open #title::before{
    content:"▼ "
  }
 .menu.open ul{
    display:block
 } */

/* .pane{
     display:block;
     width:50%;
     height:150px;
     margin-left:auto;
     margin-right:auto;
     background-color: antiquewhite;
     margin-top: 15px;
   
 }
 .remove-button{
     float:right;
     
     border:none;
     background:none;
     cursor:pointer;
    
 } */

/* carousellee */

/* ul{
     display:flex;
     flex-direction:row;
     justify-content:flex-start;
     width:35%;
     border:3px solid gray;
     overflow: scroll;
     margin-left:auto;
     margin-right:auto;
     padding: 0;
     position:relative;
     
     
   
 }
 li{
     
     align-self:center;
     list-style-type:none;
     padding: 10px 0;
     
     
 }
 li>img{
     display:block;
     
     
 } 
 .arrow{
    position:sticky;
    z-index:1;
    cursor:pointer;
    border-radius:100%;
    height:23px;
    background-color:rgba(240, 178, 9, 0.952);
    
    
    
 }


input[type="radio"]{
    position:relative;
    left:47%;
    cursor: pointer;
    
}

ul::-webkit-scrollbar { 
    width: 0;
    height: 0;
} */

/* div{
    display:inline;
} */

/* #tree{
    width:0;
    display:inline-block;
    
}

#tree first-child{
    cursor:pointer;
    font-weight:bold;
} */

/* table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid black;
    padding: 4px;
  }
  th {
    cursor: pointer;
  }
  th:hover {
    background: yellow;
  } */

/* body {
    height: 2000px;
    
  }

 
  .tooltip {
    
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    
  }; */

/* p{
      background-color: aqua;
      width:30%;
      height: 150px;
  }
  button{
      position: absolute;
      top:50px;
  } */

/* #contents {
    padding: 5px;
    border: 1px green solid;
  } */

/* li:hover{
    cursor: pointer;
 }
 .selected{
     background-color: green;
 } */

/* #table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
#table td {
    width: 150px;
    white-space: nowrap;
    text-align: center;
    vertical-align: bottom;
    padding-top: 5px;
    padding-bottom: 12px;
    cursor: pointer;
    border:1px solid black;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
} */

/* body {
      height: 2000px;
      
    }

    .tooltip {
      position: fixed;
      z-index: 100;

      padding: 10px 20px;

      border: 1px solid #b3c9ce;
      border-radius: 4px;
      text-align: center;
      font: italic 14px/1.3 sans-serif;
      color: #333;
      background: #fff;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    }

    #house {
      margin-top: 50px;
      width: 400px;
      border: 1px solid brown;
    }

    #roof {
      width: 0;
      height: 0;
      border-left: 200px solid transparent;
      border-right: 200px solid transparent;
      border-bottom: 20px solid brown;
      margin-top: -20px;
    }

    p {
      text-align: justify;
      margin: 10px 3px;
    } */

/* .slider {
  border-radius: 5px;
  background: #e0e0e0;
  background: linear-gradient(left top, #e0e0e0, #eeeeee);
  width: 310px;
  height: 15px;
  position: relative;
  margin-top: 150px;
  margin-left: 450px;
}

.thumb {
  width: 10px;
  height: 25px;
  border-radius: 3px;
  position: relative;
  left: 10px;
  top: -5px;
  background: blue;
  cursor: pointer;
}
body {
  height: 2000px;
} */

/* #field {
  background-image: url(https://js.cx/drag-heroes/field.png);
  background-repeat: no-repeat;
  width: 80%;
  height: 500px;
  position: relative;
}

#hero1 {
  background-image: url(https://merriam-webster.com/assets/mw/images/gallery/gal-wap-slideshow-slide/driblet-words-for-small-things-water-drop-6273-31c2e672b2cade51ac69d54e7013fc71@1x.jpg);
  width: 100px;
  height: 100px;
}
#hero2 {
  background-image: url(https://cdn.pixabay.com/photo/2017/02/07/16/47/kingfisher-2046453__480.jpg);
  width: 100px;
  height: 100px;
}
#hero3 {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpMHRgGhGu9aTtu0Te1mcG91JjK6v24lHbbw&usqp=CAU);
  width: 100px;
  height: 100px;
}
body {
  height: 1000px;
}
.droppable {
  margin-top: 274px;
  transform: rotate(-90deg);
}
.right {
  margin-top: 274px;
  transform: rotate(90deg);
  margin-left: 641px;
} */

/* body {
  height: 1000px;
}
.show {
  position: fixed;
  top: 1px;
} */

/* #matrix {
  width: 400px;
  margin: auto;
  overflow: auto;
  text-align: justify;
}

#arrowTop {
  height: 9px;
  width: 14px;
  color: green;
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
#arrowTop::before {
  content: '▲';
} */

/* .error {
  background-color: red;
} */

/* li {
  cursor: pointer;
}
:focus {
  outline: 1px dashed green;
} */
/* .focused {
  outline: 1px solid red;
} */

/* #div {
  width: 200px;
  height: 100px;
  background-color: rgb(224, 222, 222);
  margin-left: 500px;
 
  margin-top: 200px;
  position: absolute;
}

textarea {
  width: 200px;
  height: 100px;
  background-color: rgb(224, 222, 222);
  margin-left: 500px;

  margin-top: 200px;
  position: absolute;
} */

/* th {
  text-align: center;
  font-weight: bold;
}

td {
  width: 150px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.nw {
  background-color: #999;
}

.n {
  background-color: #03f;
  color: #fff;
}

.ne {
  background-color: #ff6;
}

.w {
  background-color: #ff0;
}

.c {
  background-color: #60c;
  color: #fff;
}

.e {
  background-color: #09f;
  color: #fff;
}

.sw {
  background-color: #963;
  color: #fff;
}

.s {
  background-color: #f60;
  color: #fff;
}

.se {
  background-color: #0c3;
  color: #fff;
}
textarea {
  resize: none;
  position: absolute;
  outline: none;

  
}
button {
  position: relative;
}  */
/* td select,
td input {
  width: 150px;
}

#diagram td {
  vertical-align: bottom;
  text-align: center;
  padding: 10px;
}

#diagram div {
  margin: auto;
} */

/* #prompt-form {
  display: inline-block;
  padding: 5px 5px 5px 70px;
  width: 200px;
  border: 1px solid black;
  background: white url(https://en.js.cx/clipart/prompt.png) no-repeat left 5px;
  vertical-align: middle;
}

#prompt-form-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
}

#prompt-form-container:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

#prompt-form input[name='text'] {
  display: block;
  margin: 5px;
  width: 180px;
}
#cover {
  position: fixed;
  top: 0;
  left: 0;
  background-color: grey;
  opacity: 0.3;
  z-index: 9000;
  width: 100%;
  height: 100%;
} */

/* .circle {
  transition-property: width, height;
  transition-duration: 2s;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  background-color: red;
  border-radius: 50%;
} */
/* html {
  font-size: 16px;
}

li {
  font-size: 0.5rem;
} */

/* float */

/* .frame {
  float: left;
  border: 1px solid black;
  text-align: center;
}
h2 {
  clear: left;
  margin-top: 15px;
}

.hero {
  float: left;
  background-color: aquamarine;
  overflow: auto;
} */
/* .clear:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
} */

/* .gallery > li {
  float: left;
  list-style: none;
  width: 130px;
} */
/* div:nth-child(2) {
  background-color: aqua;
}
div:nth-child(3) {
  background-color: rgb(209, 203, 190);
  width: 30%;
  height: 100px;
  float: left;
}
div:nth-child(4) {
  background-color: rgb(224, 21, 163);
  width: 70%;
  height: 150px;
  float: right;
}
div:nth-child(5) {
  background-color: aqua;
  clear: both;
} */

/* ul > li {
  list-style-type: none;
}
.icon {
  float: left;
}
.icon:hover {
  cursor: pointer;
} */
/* .nav {
  height: 40px;
  width: 80%;
  margin: auto;
}

.left {
  float: left;
}
.right {
  float: right;
}

.pages > li {
  display: inline;
  margin: 1%;
  list-style-type: none;
  line-height: 40px;
}
.pages {
  vertical-align: middle;
  margin-left: 31%;
} */

/* .left {
  float: left;
  width: 30%;
  background: #aef;
}

.right {
  float: right;
  width: 70%;
  background: tan;
  border-left: 1px solid black;
  padding-left: 2px;
  box-sizing: border-box;
} */
/* .right:before {
  content: ',';
  display: block;
  clear: left;
} */
/* body {
  position: relatve;
}
#box {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background: #aef;
  opacity: 0.7;
}

p,
button {
  margin: 35px;
} */

/* .outer {
  text-align: center;
  border: 1px solid blue;
  height: 500px;
  width: 500px;
  vertical-align: middle; */
/* line-height: 200px; */
/* position: relative; */
/* display: table-cell;
  vertical-align: middle; */
/* }
.inner {
  display: inline-block;
  width: 100px;
  height: 50px;
  border: 1px solid red; */
/* line-height: 1.25; */
/* vertical-align: middle; */
/* position: absolute;
  top: 50%;
  margin-top: -25px; */
/* margin-left: auto;
  margin-right: auto;
} */

/* body > div {
  font-size: 10px;
  line-height: 2;
  margin: 0;
  padding: 0;
  font: 30px/2 Arial;
} */

/* #one,
#two {
  height: 100px;
  width: 300px;
  border: 1px solid black;
  margin: 5px;
  display: block;
}
#three {
  height: 50px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
} */
/* .before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.inner {
  vertical-align: center;
  display: inline-block;
}
.outer {
  text-align: center;
} */

/* .outer {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  display: table-cell;
  vertical-align: middle;
}
.inner {
  display: inline-block;
  border: 1px solid red;
} */

/* .outer {
  text-align: center;
}
.inner {
  display: inline-block;
  border: 1px solid red;
  vertical-align: middle;
  margin-left: -0.35em;
}

.outer::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
} */

/* .outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  text-align: center;
} */
/* .arrow {
  font-family: monospace;
  width: 200px;
  border: 1px solid black;
  white-space: pre-line;
  outline: 1px solid red;
  outline-offset: 2px;
} */

/* form {
  width: 200px;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
}

form input,
form select {
  display: block;
  padding-left: 5px;
 box-sizing: border-box;
  width: 100%; 
} */

/* ::placeholder {
  color: red;
} */

/* input[type='checkbox']:not(:checked) {
  float: right;
} */

/* *[id*='message-'] {
  float: right;
} */
/* li:nth-child(2n + 1) {
  margin-top: 1.3em;
}
body {
  font: 14px/1.5 serif;
} */

/* * {
  margin: 0;
  padding: 0;
}
video {
  width: 100%;
  height: 500px;
}
button {
  background: black;
  color: white;
  width: 10em;
  height: 5em;
  opacity: 80%;
  margin-left: 200px;
} */

/* .slider::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  background: black;
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
} */

/* #c1 {
  width: 400px;
  height: 200px;
  border: 3px solid black;
  margin: 3px;
  
} */
/* 
#growing {
  transition: all 3s 2s;
} */

/* #digit {
  width: 0.5em;
  overflow: hidden;
  font: 32px monospace;
  cursor: pointer;
}

#stripe {
  display: inline-block;
}
#stripe.animate {
  transform: translate(-90%); */
/* transition-property: transform;
  transition-duration: 9s;
  transition-timing-function: linear;
  transition-delay: -2s; */
/* transition: transform 9s steps(9, start);
} */

/* .train {
  transition: left 4s cubic-bezier(0, 0, 0.5, 0.5);
  transition: left 4s ease-in-out;
  position: relative;
  left: 0;
} */

/* #flyjet {
  width: 40px;
  height: 24px;
  transition: all 3s cubic-bezier(1, 0.5, 0.5, 2);
} */

/* div {
  height: 0;
  width: 0;

  transition: all 2s cubic-bezier(1, 0.5, 0.5, 1);
} */

/* .grid-container {
  background-color: rgb(29, 197, 197);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 50px;
}
.grid-container > div {
  background-color: antiquewhite;
  text-align: center;
  margin: 10px;
  border: 1px solid black;
}

div :nth-child(1) {
  grid-column: 1/3;
} */

/* PARALAX */
/* .wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;
}
header {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
header img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: translateZ(-10px) scale(2);
} */
/* PARALAX */
